<footer class="site-footer">
  <div class="footer-inner">
    <div>
      <h4>Go-Tegs International School</h4>
      <p>Training the Leaders of Tomorrow.</p>
      <p>15, Ayesanmi Street, GloryLand Estate,<br />Powerline Bus Stop, Isheri Olofin,<br />Alimosho, Lagos.</p>
    </div>

    <div>
      <h4>Quick Links</h4>
      <ul>
        <li><a href="/about.html">About Us</a></li>
        <li><a href="/enrolment.html">Enrolment</a></li>
        <li><a href="/lesson-notes/index.html">Lesson Notes</a></li>
        <li><a href="/student/index.html">Student Portal</a></li>
        <li><a href="/store.html">School Store</a></li>
      </ul>
    </div>

    <div>
      <h4>Get in Touch</h4>
      <ul>
        <li><a href="tel:08066525319">0806 652 5319</a></li>
        <li><a href="tel:08106958638">0810 695 8638</a></li>
        <li><a href="mailto:gotegs622@gmail.com">gotegs622@gmail.com</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    &copy; <span id="footer-year"></span> Go-Tegs International School. All rights reserved.
  </div>
</footer>
